<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMGQuIZjr3oNgVVShxf_PKD7YKWm5WzaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>920926023285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vootdayAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bootdv2</string>
	<key>STORAGE_BUCKET</key>
	<string>bootdv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920926023285:ios:05dcde5ad8f3a1a9e3d23c</string>
	<key>DATABASE_URL</key>
	<string>https://bootdv2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>